[Unit]
Description=Komodo Core
After=komodo_mongo_1.service
Requires=komodo_mongo_1.service

[Container]
Image=ghcr.io/moghtech/komodo-core:{{ komodo_core_version }}
ContainerName=komodo_core_1
RunInit=true
Network=komodo.network

Volume=core_backups:/backups
Volume=core_keys:/config/keys

PublishPort=9120:9120

Environment=TZ=Europe/Madrid
Environment=KOMODO_DATABASE_ADDRESS=komodo_mongo_1:27017
Environment=KOMODO_DATABASE_USERNAME=admin
Secret=komodo_mongo_1_passwd,type=env,target=KOMODO_DATABASE_PASSWORD
Environment=KOMODO_FIRST_SERVER_NAME={{ inventory_hostname }}
Environment=KOMODO_PERIPHERY_PUBLIC_KEY={{ groups['komodo_periphery']
  | map('regex_replace', '^(.*)$', 'file:/config/keys/\\1.pub')
  | join(',') }}
Secret=komodo_core_1_jwt,type=env,target=KOMODO_JWT_SECRET
Secret=komodo_core_1_webhook_secret,type=env,target=KOMODO_WEBHOOK_SECRET

EnvironmentFile=/etc/komodo/komodo.env

[Service]
Restart=always

[Install]
WantedBy=default.target
