[Unit]
Description=Komodo Core
After=komodo_mongo_1.service
Requires=komodo_mongo_1.service

[Container]
Pod=komodo_proxy_1.pod
Image=ghcr.io/moghtech/komodo-core:{{ komodo_core_version }}
ContainerName=komodo_core_1
Label=komodo.skip=
Mount=type=bind,src={{ app_data_dir }}/{{ inventory_hostname }}/komodo/data/core,dst=/backups
Environment=TZ=Europe/Madrid
Environment=KOMODO_DATABASE_ADDRESS=komodo_mongo_1:27017
Environment=KOMODO_DATABASE_USERNAME=admin
Secret=komodo_mongo_1_passwd,type=env,target=KOMODO_DATABASE_PASSWORD
Secret=komodo_core_1_passkey,type=env,target=KOMODO_PASSKEY
Environment=KOMODO_FIRST_SERVER=https://komodo_periphery_1:8120
Secret=komodo_core_1_jwt,type=env,target=KOMODO_JWT_SECRET
Secret=komodo_core_1_webhook_secret,type=env,target=KOMODO_WEBHOOK_SECRET
EnvironmentFile={{ app_data_dir }}/{{ inventory_hostname }}/komodo/quadlets/komodo.env

# Mount the secrets.toml file, temporal solution without a secret management system
Mount=type=bind,src={{ app_data_dir }}/{{ inventory_hostname }}/komodo/data/secrets.toml,dst=/config/config.toml,ro=true,relabel=private

[Service]
Restart=always

[Install]
WantedBy=default.target
