**/compose.env filter=sops
**/secrets.sops.yaml filter=sops
**/secrets.sops.yml filter=sops
**/terraform.tfvars filter=sops
**/variables.auto.pkrvars.hcl filter=sops
**/backend.hcl filter=sops
**/imports.tf filter=sops
**/sealed-secrets-master-keys.yaml filter=sops