{% if inventory_hostname == groups['servers'][0] %}
cluster-init: true
{% else %}
token-file: {{ k3s_token_file }}
server: https://{{ kube_vip_lan_ip }}:6443
{% endif %}

{% if 'servers' in group_names %}
tls-san:
  - {{ kube_vip_lan_ip }}
{% for host in groups['servers'] %}
  - {{ hostvars[host].ansible_host }}
{% endfor %}

disable:
  - local-storage
  - servicelb
  - traefik

flannel-backend: "none"
disable-kube-proxy: true
disable-network-policy: true
disable-helm-controller: true
secrets-encryption: true
{% endif %}
