apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-vip-ds
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kube-vip-ds
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kube-vip-ds
    spec:
      serviceAccountName: kube-vip
      terminationGracePeriodSeconds: 60
      hostNetwork: true
      nodeSelector:
        node-role.kubernetes.io/control-plane: "true"
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
      containers:
        - name: kube-vip
          image: ghcr.io/kube-vip/kube-vip:{{ kube_vip_version }}
          imagePullPolicy: IfNotPresent
          args:
          - manager
          securityContext:
            capabilities:
              add:
              - NET_ADMIN
              - NET_RAW
              - SYS_TIME
          env:
            - name: vip_arp
              value: "true"
            - name: port
              value: "{{ kube_vip_lb_port }}"
            - name: vip_interface
              value: "{{ kube_vip_lan_interface }}"
            - name: vip_cidr
              value: "32"
            - name: cp_enable
              value: "true"
            - name: cp_namespace
              value: "kube-system"
            - name: vip_ddns
              value: "false"
            - name: svc_enable
              value: "{{ kube_vip_lb_enable | string | lower }}"
            - name: address
              value: "{{ kube_vip_lan_ip }}"
            - name: vip_leaderelection
              value: "true"
            - name: vip_leaseDuration
              value: "15"
            - name: vip_renewDeadline
              value: "10"
            - name: vip_retryPeriod
              value: "2"
            - name: prometheus_server
              value: ":{{ kube_vip_prometheus_port }}"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /health
              port: {{ kube_vip_prometheus_port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: {{ kube_vip_prometheus_port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5