module intel_gpu_selinux 1.0;

require {
	type container_device_plugin_t;
	type unconfined_service_t;
	class unix_stream_socket connectto;
}

#============= container_device_plugin_t ==============
allow container_device_plugin_t unconfined_service_t:unix_stream_socket connectto;