[container_hosts]
host01 media=true ansible_host=192.168.1.10
host02 media=false ansible_host=192.168.1.11

[pangolin_hosts]
pangolin01 ansible_host=100.100.100.100

[komodo:children]
komodo_core
komodo_periphery

[komodo_core]
host01

[komodo_periphery]
host01
host02

[hetzner:children]
pangolin_hosts

[all:vars]
ansible_user=myuser
