[Unit]
Description=Komodo Periphery

[Container]
Image=ghcr.io/moghtech/komodo-periphery:1.19.3@sha256:ad1840e43039b38c05569bb8d42c0f6d9a643c2d483f8d5ff9a2b626b6fb6cbc
ContainerName=komodo_periphery_1
Network=komodo.network
Label=komodo.skip=
PublishPort=8120:8120
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/{{ inventory_hostname }}/komodo/data/periphery,dst=/etc/komodo
Volume=/%t/podman/podman.sock:/var/run/docker.sock
Environment=COMPOSE_KOMODO_IMAGE_TAG=latest
Environment=TZ=Europe/Madrid
Environment=PERIPHERY_ROOT_DIRECTORY=/etc/komodo
Secret=komodo_core_1_passkey,type=env,target=PERIPHERY_PASSKEYS
Environment=PERIPHERY_DISABLE_TERMINALS=false
Environment=PERIPHERY_SSL_ENABLED=true
Environment=PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
Environment=PERIPHERY_LOGGING_PRETTY=false
Environment=PERIPHERY_PRETTY_STARTUP_CONFIG=false
SecurityLabelType=komodo_periphery_1.process

[Service]
Restart=always

[Install]
WantedBy=default.target