[Unit]
Description=Komodo Periphery

[Container]
Image=ghcr.io/moghtech/komodo-periphery:{{ komodo_periphery_version }}
ContainerName=komodo_periphery_1
RunInit=true
Network=komodo.network
UserNS=host

Volume=periphery_config:/etc/komodo
Volume=periphery_keys:/config/keys

Mount=type=bind,source=/proc,target=/proc
Mount=type=bind,source=/%t/podman/podman.sock,target=/var/run/docker.sock,relabel=shared

# SOPS binary and keys
Volume=sops_bin:/opt:ro
Mount=type=bind,source=/root/.config/sops/age,target=/keys,ro,relabel=shared,U=true

Environment=COMPOSE_KOMODO_IMAGE_TAG=latest
Environment=TZ=Europe/Madrid
Environment=PERIPHERY_ROOT_DIRECTORY=/etc/komodo
Environment=PERIPHERY_CORE_ADDRESS=ws://{{ hostvars[groups['komodo_core'][0]].ansible_host }}:9120
Environment=PERIPHERY_CONNECT_AS={{ inventory_hostname }}
Environment=PERIPHERY_CORE_PUBLIC_KEY=file:/config/keys/core.pub
Environment=PERIPHERY_DISABLE_TERMINALS=false
Environment=PERIPHERY_DISABLE_CONTAINER_TERMINALS=false
Environment=PERIPHERY_DEFAULT_TERMINAL_COMMAND=sh
Environment=PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
Environment=PERIPHERY_LOGGING_PRETTY=false
Environment=PERIPHERY_PRETTY_STARTUP_CONFIG=false
Environment=PERIPHERY_CORE_TLS_INSECURE_SKIP_VERIFY=true
# SOPS settings
Environment=SOPS_AGE_KEY_FILE=/keys/keys.txt

Unmask=/proc
SecurityLabelType=komodo_periphery_1.process

[Service]
Restart=always

[Install]
WantedBy=default.target
