#!/bin/sh

USERNAME="{{ ansible_user }}"
USER_UID=$(id -u "$USERNAME")
USER_GID=$(id -g "$USERNAME")

XDG_RUNTIME_DIR="/run/user/${USER_UID}"

mkdir -pm 0700 "$XDG_RUNTIME_DIR"
chown "${USER_UID}:${USER_GID}" "$XDG_RUNTIME_DIR"