app:
  dashboard_url: "https://{{ pangolin_domain }}"
  log_level: "info"
  telemetry:
    anonymous_usage: false

domains:
  domain1:
    base_domain: "{{ base_domain }}"
    cert_resolver: "letsencrypt"

server:
  secret: "your-strong-secret"
  cors:
    origins: ["https://{{ pangolin_domain }}"]
    methods: ["GET", "POST", "PUT", "DELETE", "PATCH"]
    allowed_headers: ["X-CSRF-Token", "Content-Type"]
    credentials: false

gerbil:
  start_port: 51820
  base_endpoint: "{{ pangolin_domain }}"

{% if pangolin_email %}
email:
  smtp_host: "{{ smtp_host }}"
  smtp_port: {{ smtp_port }}
  smtp_user: "{{ smtp_user }}"
  smtp_pass: "{{ smtp_pass }}"
  smtp_secure: {{ smtp_secure }}
  no_reply: "{{ no_reply_email }}"

{% endif %}
flags:
  require_email_verification: false
  disable_signup_without_invite: true
  disable_user_create_org: true
  allow_raw_resources: true