[Unit]
Description=Crowdsec Service
After=network.target
Requires=pangolin_traefik_1.service

[Container]
Pod=pangolin_proxy_1.pod
ContainerName=pangolin_crowdsec_1
Image=docker.io/crowdsecurity/crowdsec:{{ pangolin_crowdsec_version }}
Environment=COLLECTIONS='crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules'
Environment=ENROLL_INSTANCE_NAME='pangolin-crowdsec'
Environment=ENROLL_TAGS='docker'
Environment=GID='1000'
Environment=PARSERS='crowdsecurity/whitelists'
Label="traefik.enable=false"
Mount=type=bind,src=/etc/pangolin/crowdsec,dst=/etc/crowdsec,relabel=shared,U=true
Mount=type=bind,src=/etc/pangolin/crowdsec/db,dst=/var/lib/crowdsec/data,relabel=shared
Mount=type=bind,src=/etc/pangolin/traefik/logs,dst=/var/log/traefik,relabel=shared
Exec='-t'
Notify=healthy
HealthCmd="cscli capi status"
HealthInterval=10s
HealthRetries=15
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=default.target
