[Unit]
Description=Traefik Reverse Proxy
After=pangolin_app_1.service pangolin_gerbil_1.service network.target
Requires=pangolin_app_1.service pangolin_gerbil_1.service

[Container]
Image=docker.io/library/traefik:{{ pangolin_traefik_version }}
ContainerName=pangolin_traefik_1
Network=pangolin.network
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/pangolin/data/config/traefik,dst=/etc/traefik,ro=true
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/pangolin/data/config/letsencrypt,dst=/letsencrypt
Exec=--configFile=/etc/traefik/traefik_config.yml
PublishPort=80:80
PublishPort=443:443
SecurityLabelType=pangolin_traefik_1.process

[Service]
Restart=always

[Install]
WantedBy=default.target
