[Unit]
Description=Traefik Reverse Proxy
After=pangolin_app_1.service pangolin_gerbil_1.service network.target
Requires=pangolin_app_1.service pangolin_gerbil_1.service

[Container]
Pod=pangolin_proxy_1.pod
ContainerName=pangolin_traefik_1
Exec='--configFile=/etc/traefik/traefik_config.yml'
Image=docker.io/library/traefik:{{ pangolin_traefik_version }}
Volume=/etc/pangolin/traefik:/etc/traefik:ro,z
Volume=/etc/pangolin/letsencrypt:/letsencrypt:z
Volume=/etc/pangolin/traefik/logs:/var/log/traefik:z,U
SecurityLabelType=pangolin_traefik_1.process

[Service]
Restart=always

[Install]
WantedBy=default.target
