{% if pangolin_crowdsec %}
accessLog:
  bufferingSize: 100
  fields:
    defaultMode: drop
    headers:
      defaultMode: drop
      names:
        Authorization: redact
        Content-Type: keep
        Cookie: redact
        User-Agent: keep
        X-Forwarded-For: keep
        X-Forwarded-Proto: keep
        X-Real-Ip: keep
    names:
      ClientAddr: keep
      ClientHost: keep
      DownstreamContentSize: keep
      DownstreamStatus: keep
      Duration: keep
      RequestMethod: keep
      RequestPath: keep
      RequestProtocol: keep
      RetryAttempts: keep
      ServiceName: keep
      StartUTC: keep
      TLSCipher: keep
      TLSVersion: keep
  filePath: /var/log/traefik/access.log
  filters:
    minDuration: 100ms
    retryAttempts: true
    statusCodes:
      - 200-299
      - 400-499
      - 500-599
  format: json

{% endif %}
api:
  insecure: {{ 'false' if pangolin_crowdsec else 'true' }}
  dashboard: {{ 'false' if pangolin_crowdsec else 'true' }}

providers:
  http:
    endpoint: "http://pangolin_app_1:3001/api/v1/traefik-config"
    pollInterval: "5s"
  file:
    filename: "/etc/traefik/dynamic_config.yml"

experimental:
  plugins:
    badger:
      moduleName: "github.com/fosrl/badger"
      version: "{{ pangolin_badger_version }}"
{% if pangolin_crowdsec %}
    crowdsec:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: "{{ pangolin_crowdsec_bouncer_version }}"
{% endif %}

log:
  level: "INFO"
  format: "common"
  maxSize: 100
  maxBackups: 3
  maxAge: 3
  compress: true

certificatesResolvers:
  letsencrypt:
    acme:
      httpChallenge:
        entryPoint: web
      email: "{{ letsencrypt_mail }}"
      storage: "/letsencrypt/acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: "30m"
    http3:
      advertisedPort: 443
    http:
{% if pangolin_crowdsec %}
      middlewares:
        - crowdsec@file
{% endif %}
      tls:
        certResolver: "letsencrypt"
      encodedCharacters:
        allowEncodedSlash: true
        allowEncodedQuestionMark: true
{% for raw_tcp_port in pangolin_raw_tcp_ports %}
  tcp-{{ raw_tcp_port }}:
    address: ":{{ raw_tcp_port }}/tcp"
{% endfor %}
{% for raw_udp_port in pangolin_raw_udp_ports %}
  udp-{{ raw_udp_port }}:
    address: ":{{ raw_udp_port }}/udp"
{% endfor %}

serversTransport:
  insecureSkipVerify: true

ping:
  entryPoint: "web"
