[Unit]
Description=Komodo MongoDB

[Container]
Image=docker.io/mongo:{{ komodo_mongo_version }}
ContainerName=komodo_mongo_1
Network=komodo.network
Label=komodo.skip=
User={{ mongo_uid | default(999) }}:{{ mongo_gid | default(999) }}
Exec=--quiet --wiredTigerCacheSizeGB 0.25
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/{{ inventory_hostname }}/komodo/data/mongo/data,dst=/data/db,relabel=private,U=true
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/{{ inventory_hostname }}/komodo/data/mongo/config,dst=/data/configdb,relabel=private,U=true
Environment=MONGO_INITDB_ROOT_USERNAME=admin
Secret=komodo_mongo_1_passwd,type=env,target=MONGO_INITDB_ROOT_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=default.target