---
version: v1alpha1
machine:
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    kubernetesTalosAPIAccess:
      enabled: true
      allowedKubernetesNamespaces:
        - system-upgrade
      allowedRoles:
        - os:admin
    rbac: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
  kernel:
    modules:
      - name: vfio_pci
      - name: i915
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      serializeImagePulls: false
      shutdownGracePeriod: 90s
      shutdownGracePeriodCriticalPods: 60s
    clusterDNS:
      - 10.43.0.10
    extraArgs:
      rotate-server-certificates: true
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: ${proxmox_cluster_name}
    topology.kubernetes.io/zone: ${node_name}
  sysctls:
    vm.nr_hugepages: "0"
  certSANs:
%{ for san in cert_sans ~}
    - ${san}
%{ endfor ~}
cluster:
  clusterName: ${cluster_name}
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  allowSchedulingOnControlPlanes: ${schedule_workloads}
  apiServer:
    extraArgs:
      default-watch-cache-size: "100"
  controllerManager:
    extraArgs:
      concurrent-service-syncs: "1"
      concurrent-deployment-syncs: "1"
  coreDNS:
    disabled: true
  etcd:
    extraArgs:
      quota-backend-bytes: "1073741824"
      auto-compaction-retention: "1"
      auto-compaction-mode: "periodic"
      snapshot-count: "50000"
      heartbeat-interval: "500"
      election-timeout: "5000"
  proxy:
    disabled: true
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off
hostname: ${hostname}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "${mac}"
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: storage0
selector:
  match: mac(link.permanent_addr) == "${storage_mac}"
---
apiVersion: v1alpha1
kind: LinkConfig
name: storage0
up: true
mtu: 1500
addresses:
  - address: ${storage_ip}/24
