machine:
  certSANs:
%{ for san in cert_sans ~}
    - ${san}
%{ endfor ~}

  kubelet:
    clusterDNS:
      - 10.96.0.10
    extraArgs:
      rotate-server-certificates: true
    extraConfig:
      imageMinimumGCAge: 1h
      evictionHard:
        memory.available: 300Mi
        nodefs.available: 5%
        imagefs.available: 1Gi
      evictionSoft:
        memory.available: 800Mi
        nodefs.available: 10%
        imagefs.available: 2Gi
      evictionSoftGracePeriod:
        memory.available: 1m
        nodefs.available: 2m
        imagefs.available: 5m
      kubeReserved:
        memory: 512Mi
      systemReserved:
        memory: 256Mi

%{ if igpu ~}
  sysctls:
    vm.nr_hugepages: "1024"
%{ endif ~}

  kernel:
    modules:
      - name: vfio_pci
%{ if igpu ~}
      - name: i915
%{ endif ~}

  nodeLabels:
    topology.kubernetes.io/region: ${proxmox_cluster_name}
    topology.kubernetes.io/zone: ${node_name}
    kubearmor.io/enforcer: bpf
    kubearmor.io/runtime: containerd
    kubearmor.io/socket: run_containerd_containerd.sock
    kubearmor.io/btf: "yes"
    kubearmor.io/seccomp: "yes"
    kubearmor.io/apparmorfs: "no"
    kubearmor.io/securityfs: "yes"
    kubearmor.io/rand: talos-static

cluster:
  clusterName: ${cluster_name}
  network:
    dnsDomain: cluster.local

---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off
hostname: ${hostname}
