---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ctrl-02
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "bc:24:11:00:00:02"
---
apiVersion: v1alpha1
kind: LinkConfig
name: net0
up: true
mtu: 9000
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.30
vlanID: 30
parent: net0
up: true
mtu: 9000
addresses:
  - address: 10.1.30.62/24
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.90
vlanID: 90
parent: net0
up: true
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0.90
routeMetric: 2048
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m