---
app_data_dir: "/opt/appdata"

pangolin_domain: "pangolin.example.com"
base_domain: "example.com"

pangolin_email: true
smtp_host: "{{ secret_pangolin_smtp_host }}"
smtp_port: 465
smtp_user: "{{ secret_pangolin_smtp_user }}"
smtp_pass: "{{ secret_pangolin_smtp_pass }}"
smtp_secure: true
no_reply_email: "{{ secret_pangolin_smtp_no_reply_email }}"

letsencrypt_mail: "{{ secret_pangolin_traefik_letsencrypt_mail }}"
