[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_ip }}
ListenPort = {{ wireguard_port | default(51820) }}

{% if inventory_hostname in groups['hetzner'] | default([]) %}
# Hetzner node acts as hub - enable NAT/masquerading
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
{% endif %}

{% for host in groups['cluster'] | default([]) %}
{% if host != inventory_hostname %}
{% set peer_public_key = hostvars[host].get('wireguard_public_key') %}
{% if peer_public_key %}
[Peer]
# {{ host }}
PublicKey = {{ peer_public_key }}
AllowedIPs = {{ hostvars[host]['wireguard_ip'] | regex_replace('/\\d+$', '/32') }}
{% if inventory_hostname in groups['hetzner'] | default([]) and host in groups['proxmox'] | default([]) %}
# Hetzner is hub - Proxmox nodes connect to us (no endpoint, they initiate)
{% elif inventory_hostname in groups['proxmox'] | default([]) and host in groups['hetzner'] | default([]) %}
# Proxmox to Hetzner (hub) - use public IP endpoint
Endpoint = {{ hostvars[host]['ansible_host'] }}:{{ wireguard_port | default(51820) }}
PersistentKeepalive = 25
{% elif inventory_hostname in groups['proxmox'] | default([]) and host in groups['proxmox'] | default([]) %}
# Proxmox to Proxmox - full mesh with local IP for resilience
Endpoint = {{ hostvars[host]['ansible_host'] }}:{{ wireguard_port | default(51820) }}
PersistentKeepalive = 25
{% endif %}

{% endif %}
{% endif %}
{% endfor %}
