[Unit]
Description=Pangolin Service
After=network.target

[Container]
Pod=pangolin_proxy_1.pod
ContainerName=pangolin_app_1
Image=ghcr.io/fosrl/pangolin:{{ pangolin_app_version }}
Volume=/etc/pangolin:/app/config:z,U
Notify=healthy
HealthCmd="/usr/bin/curl -f http://127.0.0.1:3001/api/v1/"
HealthInterval=10s
HealthTimeout=10s
HealthRetries=15

[Service]
Restart=always

[Install]
WantedBy=default.target
