[Unit]
Description=Forgejo Postgres container
After=forgejo_postgres_1.service
Requires=forgejo_postgres_1.service

[Container]
Image=docker.io/postgres:{{ forgejo_postgres_version }}
ContainerName=forgejo_postgres_1
Network=forgejo.network
Label=komodo.skip=
PublishPort=5432:5432
User={{ postgres_uid | default(70) }}:{{ postgres_gid | default(70) }}
Mount=type=bind,src={{ app_data_dir | default('/mnt/nfs') }}/{{ inventory_hostname }}/forgejo/data/postgres,dst=/var/lib/postgresql/data,relabel=private,U=true
Environment=POSTGRES_DB=forgejo
Environment=POSTGRES_USER=forgejo
Secret=forgejo_postgres_1_passwd,type=env,target=POSTGRES_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=default.target